body {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url("./Img/Fond-étoilé.png");
    width: 100vw;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

h1 {
    margin: 0;
    font-size: 80px;
    color: #FFE436;
    text-align: center;
    padding-top: 100px;
}

.contain {
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.elements {
    width: 25%;
}

.score {
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

img {
    width: 50%;
}